.textContainer {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;
}

/* Mobiles */
@media (min-width: 0px) and (max-width: 2500px) {
  .textContainer {
    width: 90%;
  }
}

/* Midscreen */
@media (min-width: 1200px) and (max-width: 1500px) {
  .textContainer {
    width: 70%;
  }
}

/* Widescreen */
@media (min-width: 1501px) {
  .textContainer {
    width: 60%;
  }
}

.activeContainer {
  display: flex;
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

.onlineUsersTitle {
  font-size: 1.5em;
  margin-top: 10px;
}

.onlineUsersList {
  font-size: 1.1em;
}
