.gameContainer {
  text-align: center;
  background-color: grey;
  min-height: 50vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.gameIcon {
  height: 100px;
  width: 100px;
}

/* Mobiles */
@media (min-width: 0px) and (max-width: 1200px) {
  .gameContainer {
    width: 90%;
  }
}

/* Midscreen */
@media (min-width: 1200px) and (max-width: 1500px) {
  .gameContainer {
    width: 80%;
  }
}

/* Widescreen */
@media (min-width: 1501px) {
  .gameContainer {
    width: 75%;
  }
}
