.navBarContainer {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.3em;
}

.burgerIcon {
  width: 30px;
  margin-right: 5%;
}

.backArrow {
  width: 30px;
  margin-left: 5%;
}

/* Mobiles */
@media (min-width: 0px) and (max-width: 1200px) {
  .burgerIcon {
    margin-right: 5%;
  }

  .backArrow {
    margin-left: 5%;
  }
}

/* Midscreen */
@media (min-width: 1200px) and (max-width: 1500px) {
  .burgerIcon {
    margin-right: 10%;
  }

  .backArrow {
    margin-left: 10%;
  }
}

/* Widescreen */
@media (min-width: 1501px) {
  .burgerIcon {
    margin-right: 12.5%;
  }

  .backArrow {
    margin-left: 12.5%;
  }
}
